{{ define "index" }}
{{ template "header" . }}

<style>
    .container.mt-5 {
        margin-bottom: 30px;
    }
</style>
<main class="container mt-5">
    <h1 class="text-white mb-4" style="text-align: center;">Каталог товаров</h1>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        {{ range .Products }}
        <div class="col">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">{{ .Name }}</h5>
                    <img src="/media/{{ .Image }}" alt="{{ .Name }}" style="max-width: 100%; height: auto;">
                    <p class="card-text">{{ .Description }}</p>
                    <a href="/product/{{ .ID }}" class="btn btn-primary">Подробнее</a>
                </div>
                <div class="card-footer">
                    <strong>{{ printf "%.2f" .Price }} ₸</strong>
                </div>
            </div>
        </div>
        {{ else }}
        <p class="text-white">Товаров пока нет.</p>
        {{ end }}
    </div>
</main>

{{ template "footer" . }}
{{ end }}